<div class="container  py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <!--rules QUIZ-->
    <p class="col-md-8 fs-4">This quiz will contains total 9 questions .Each Duestion holds 10 points</p>
    <h4> Rules: </h4>
    <ol>
        <li> Correst Question gives you 10 points </li>
        <li> Incorrect Question gives you -10 points </li>
        <li> You will have 10 sec to answer each question </li>
        <li> Refereshing the page will reset the quiz</li>

    </ol>
    <!-- CHOIX DU QUIZ -->
    <div class="col-md-6 col-lg-4 wow fadeIn m-5" data-wow-delay=".5s">

        <div class="services-item bg-light m-5">
            <div class="p-3 text-center services-content">
                <div class="services-content-icon">
                    <i class="fa fa-file-code fa-7x mb-4 text-primary"></i>
                    <h4 class="mb-3">Angular Quiz</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Aliquam dolor eget urna ultricies tincidunt.</p>
                    <div>
                        <div class="row">
                            <div class="col-6"> <time datetime=""><i class="fa fa-clock-o"></i> 1 min </time></div>
                            <div class="col-6">
                                 <div class="questions-count"> <i class="fa fa-question-circle"></i> 10 questions</div>
                             </div>
                        </div>
                    </div>
                  
                </div>
                <button class="btn btn-warning btn-lg m-3"routerLink="/pagename" > Start Now</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 wow fadeIn m-5" data-wow-delay=".5s">

        <div class="services-item bg-light m-5">
            <div class="p-3 text-center services-content">
                <div class="services-content-icon">
                    <i class="fa fa-file-code fa-7x mb-4 text-primary"></i>
                    <h4 class="mb-3">React Quiz</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Aliquam dolor eget urna ultricies tincidunt.</p>
                    <div>
                        <div class="row">
                            <div class="col-6"> <time datetime=""><i class="fa fa-clock-o"></i> 15 minutes </time></div>
                            <div class="col-6">
                                 <div class="questions-count"> <i class="fa fa-question-circle"></i> 20 questions</div>
                             </div>
                        </div>
                    </div>
                  
                </div>
                <button class="btn btn-warning btn-lg m-3"routerLink="/pagename" > Start Now</button>
            </div>
        </div>
    </div>
    
    
   

</div> 